In [1]:
import pandas as pd
import pickle

In [2]:
with open("../../data/processed/train_data_55m.pkl", 'rb') as f:
    train_data = pickle.load(f)

In [3]:
import sys

sys.path.append("../../python/")

In [4]:
subset = train_data.iloc[:5000000]

In [5]:
from nytf.holidays_extractor import HolidayFeaturesExtractor

In [6]:
h_sc = HolidayFeaturesExtractor(date_col="pickup_datetime", interest_col="fare_amount", state="NY")

In [7]:
h_sc.get_params()

{'country': 'US',
 'date_col': 'pickup_datetime',
 'interest_col': 'fare_amount',
 'state': 'NY'}

In [8]:
h_sc.fit(subset)
h_sc._holiday_scores.sort_values("holiday_score")

                                             holiday_score
holiday
Washington's Birthday, Susan B. Anthony Day       0.882678
Lincoln's Birthday (Observed)                     0.888241
Christmas Day (Observed)                          0.908137
New Year's Day (Observed)                         0.908937
Independence Day (Observed)                       0.920066
Lincoln's Birthday                                0.958454
Independence Day                                  0.958825
Martin Luther King, Jr. Day                       0.958915
Washington's Birthday                             0.977351
Susan B. Anthony Day                              0.983730
normal                                            1.000000
Christmas Day                                     1.006855
Election Day                                      1.015151
New Year's Day                                    1.015711
Thanksgiving                                      1.018336
Columbus Day                                      1.024675
Labor Day                                         1.049737
Veterans Day                                      1.055146
Memorial Day                                      1.062904
Veterans Day (Observed)                           1.168535

In [9]:
t = h_sc.transform(subset)

In [10]:
t.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,holiday_score,next_holiday_dist,next_holiday_score,prev_holiday_dist,prev_holiday_score
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1.0,1535619,0.920066,1833981,1.062904
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1.0,1105664,0.958915,363136,1.015711
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,1.0,1596300,1.049737,3846900,0.958825
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1.0,3223758,1.062904,5243442,0.977351
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1.0,7186140,1.062904,1885860,0.882678